@tailwind base;
@tailwind components;
@tailwind utilities;

@import './base.css';

/* Remove default app styles that conflict with our layout */
#app {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
